In [1]:
import pycmap
import json

In [2]:
with open("../../../../.secrets") as f:
    secrets = json.load(f)
    cmap_token = secrets["simonscmap"]
cmap_api = pycmap.API(token=cmap_token)

## Dataset

---

In [3]:
raw_data = cmap_api.get_dataset("tblBATS_Bottle")

/Users/ash/Documents/Workspaces/PhD/seapopym-data/.venv/lib/python3.12/site-packages/pycmap/rest.py:334: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(df['JSON_stats'][0])
/Users/ash/Documents/Workspaces/PhD/seapopym-data/.venv/lib/python3.12/site-packages/pycmap/rest.py:335: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  rows = int(df.loc[['count'], 'lat'])
/Users/ash/Documents/Workspaces/PhD/seapopym-data/.venv/lib/python3.12/site-packages/pycmap/rest.py:140: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(StringIO(resp_text))

In [4]:
raw_data

,time,lat,lon,depth,temp,CTD_salinity,salinity,sigma_theta,oxygen,oxygen_fix_temp,...,low_level_phosphorus,particulate_biogenic_silica,particulate_lithogenic_silica,prochlorococcus,synechococcus,picoeukaryotes,nanoeukaryotes,cruise_ID,niskin_flag,UNOLS
0,1988-10-20T22:30:00,31.783,-64.116,2000.5,3.817,NaN,34.993,27.817,255.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000100112,2,NaN
1,1988-10-20T22:30:00,31.783,-64.116,2200.3,3.577,NaN,34.982,27.833,256.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000100111,2,NaN
2,1988-10-20T22:30:00,31.783,-64.116,2398.9,3.317,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000100110,2,NaN
3,1988-10-20T22:30:00,31.783,-64.116,2600.0,3.127,NaN,34.957,27.859,259.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000100109,2,NaN
4,1988-10-20T22:30:00,31.783,-64.116,2801.7,2.927,NaN,34.944,27.868,261.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000100108,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67903,2022-12-16T16:07:00,31.700,-64.146,253.3,19.068,36.648,NaN,26.280,NaN,16.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1039902224,2,AE2226
67904,2022-12-16T19:08:00,31.712,-64.140,810.5,10.145,35.316,NaN,27.195,NaN,9.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1039902304,2,AE2226
67905,2022-12-16T19:08:00,31.712,-64.140,811.5,10.136,35.315,NaN,27.197,NaN,9.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1039902303,2,AE2226
67906,2022-12-16T19:08:00,31.712,-64.140,811.7,10.135,35.315,NaN,27.196,NaN,9.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1039902302,2,AE2226
67907,2022-12-16T19:08:00,31.712,-64.140,815.2,10.048,35.308,NaN,27.206,NaN,9.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1039902301,2,AE2226

## Metadata

---

In [5]:
raw_meta = cmap_api.get_dataset_metadata("tblBATS_Bottle")

In [6]:
raw_meta

,Variable,Table_Name,Long_Name,Unit,Make,Sensor,Process_Level,Study_Domain,Temporal_Resolution,Spatial_Resolution,...,Dataset_Short_Name,Data_Source,Distributor,Dataset_Description,Acknowledgement,Dataset_ID,ID,Visualize,Keywords,Refrences
0,alkalinity,tblBATS_Bottle,Alkalinity,uequiv,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17041,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
1,bacteria_enumeration,tblBATS_Bottle,Bacteria Enumeration,cells*10^8/kg,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17050,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
2,CO2,tblBATS_Bottle,Total CO2,umol/kg,Observation,Coulometer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17040,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
3,cruise_ID,tblBATS_Bottle,Cruise ID,NaN,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17060,NaN,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
4,CTD_salinity,tblBATS_Bottle,CTD Salinity,PSS-78,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17034,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
5,low_level_phosphorus,tblBATS_Bottle,Low-level Phosphorus,nmol/kg,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17053,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
6,nanoeukaryotes,tblBATS_Bottle,Nanoeukaryotes,cells/ml,Observation,Flow Cytometer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17059,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
7,niskin_flag,tblBATS_Bottle,Niskin/Goflo quality flag,NaN,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17061,NaN,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
8,nitrate_nitrite,tblBATS_Bottle,Nitrate+Nitrite-1,umol/kg,Observation,Autoanalyzer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17042,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
9,nitrite,tblBATS_Bottle,Nitrite-1,umol/kg,Observation,Autoanalyzer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17043,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
10,oxygen,tblBATS_Bottle,Oxygen-1,umol/kg,Observation,Winkler Titration,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17037,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
11,oxygen_anomaly,tblBATS_Bottle,Oxy Anomaly-1,umol/kg,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17039,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
12,oxygen_fix_temp,tblBATS_Bottle,Oxygen Fix Temp,C,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17038,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
13,particulate_biogenic_silica,tblBATS_Bottle,Particulate Biogenic Silica,umol/kg,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17054,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
14,particulate_lithogenic_silica,tblBATS_Bottle,Particulate Lithogenic Silica,umol/kg,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17055,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
15,phosphate,tblBATS_Bottle,Phosphate-1,umol/kg,Observation,Autoanalyzer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17044,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
16,picoeukaryotes,tblBATS_Bottle,Picoeukaryotes,cells/ml,Observation,Flow Cytometer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17058,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
17,POC,tblBATS_Bottle,Particulate Organic Carbon,ug/kg,Observation,Elemental Analyzer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17046,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
18,PON,tblBATS_Bottle,Particulate Organic Nitrogen,ug/kg,Observation,Elemental Analyzer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17047,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
19,POP,tblBATS_Bottle,Particulate Organic Phosphorus,umol/kg,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17051,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
20,prochlorococcus,tblBATS_Bottle,Prochlorococcus,cells/ml,Observation,Flow Cytometer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17056,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
21,salinity,tblBATS_Bottle,Salinity-1,PSS-78,Observation,Salinometer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17035,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
22,sigma_theta,tblBATS_Bottle,Sigma-Theta,kg/m^3,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17036,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
23,silicate,tblBATS_Bottle,Silicate-1,umol/kg,Observation,Autoanalyzer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17045,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
24,synechococcus,tblBATS_Bottle,Synechococcus,cells/ml,Observation,Flow Cytometer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17057,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
25,temp,tblBATS_Bottle,Temperature,C,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17033,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
26,TN,tblBATS_Bottle,Total Nitrogen,umol/kg,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17049,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
27,TOC,tblBATS_Bottle,Total Organic Carbon,umol/kg,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17048,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
28,total_dissolved_phosphorus,tblBATS_Bottle,Total Dissolved Phosphorus,nmol/kg,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17052,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
29,UNOLS,tblBATS_Bottle,UNOLS Cruise Name,NaN,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Bottle,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS Bottle dataset is a collection of dis...,Bermuda Institute of Ocean Sciences,676,17062,NaN,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN

## Export

---

In [7]:
raw_data.to_csv("../../1_raw/bats_bottle.csv")
raw_meta.to_csv("../../1_raw/bats_bottle_meta.csv")