In [1]:
import pycmap
import json

In [2]:
with open("../../../../.secrets") as f:
    secrets = json.load(f)
    cmap_token = secrets["simonscmap"]
cmap_api = pycmap.API(token=cmap_token)

## Dataset

---

In [3]:
raw_data = cmap_api.get_dataset("tblHOT_CTD_v2022")

/Users/ash/Documents/Workspaces/PhD/seapopym-data/.venv/lib/python3.12/site-packages/pycmap/rest.py:334: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(df['JSON_stats'][0])
/Users/ash/Documents/Workspaces/PhD/seapopym-data/.venv/lib/python3.12/site-packages/pycmap/rest.py:335: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  rows = int(df.loc[['count'], 'lat'])

In [4]:
raw_data

,time,lat,lon,depth,cruise,press,theta,sigma,temp,sal,oxy,xmiss,fluor,nit
0,1988-10-31T00:00:00,22.75,-158,0.000000,HOT001,0,26.2693,23.127,26.2693,35.2335,224.0,NaN,0.0208,NaN
1,1988-10-31T00:00:00,22.75,-158,1.987433,HOT001,2,26.2691,23.121,26.2695,35.2252,226.2,12.805,0.0492,NaN
2,1988-10-31T00:00:00,22.75,-158,3.974848,HOT001,4,26.2728,23.107,26.2737,35.2079,224.8,8.260,0.0424,NaN
3,1988-10-31T00:00:00,22.75,-158,5.962242,HOT001,6,26.2710,23.107,26.2724,35.2076,215.7,8.045,0.0508,NaN
4,1988-10-31T00:00:00,22.75,-158,7.949618,HOT001,8,26.2687,23.109,26.2705,35.2095,222.6,6.555,0.0482,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787340,2022-09-01T00:00:00,22.75,-158,4714.878626,HOT339,4798,1.0890,27.790,1.4990,34.6894,155.4,NaN,0.0685,116.572
787341,2022-09-01T00:00:00,22.75,-158,4716.822879,HOT339,4800,1.0886,27.790,1.4989,34.6894,155.6,NaN,0.0693,116.570
787342,2022-09-01T00:00:00,22.75,-158,4718.767116,HOT339,4802,1.0884,27.790,1.4989,34.6894,155.7,NaN,0.0690,116.567
787343,2022-09-01T00:00:00,22.75,-158,4720.711335,HOT339,4804,1.0886,27.790,1.4993,34.6896,155.5,NaN,0.0715,116.646
787344,2022-09-01T00:00:00,22.75,-158,4722.655538,HOT339,4806,1.0886,27.790,1.4996,34.6894,NaN,NaN,0.0707,116.656

## Metadata

---

In [5]:
raw_meta = cmap_api.get_dataset_metadata("tblHOT_CTD_v2022")

In [6]:
raw_meta

,Variable,Table_Name,Long_Name,Unit,Make,Sensor,Process_Level,Study_Domain,Temporal_Resolution,Spatial_Resolution,...,Dataset_Short_Name,Data_Source,Distributor,Dataset_Description,Acknowledgement,Dataset_ID,ID,Visualize,Keywords,Refrences
0,cruise,tblHOT_CTD_v2022,Cruise Name,NaN,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,HOT_CTD_v2022,Hawaii Ocean Time-series (HOT),http://hahana.soest.hawaii.edu/hot/hot-dogs/,"âThe majority of our sampling effort, approx...",''Data obtained via the Hawaii Ocean Time-seri...,749,18777,NaN,"ALOHA, Angel White Lab, cruise, Cruise Name, C...",NaN
1,fluor,tblHOT_CTD_v2022,Chloropigment,Âµg/l,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,HOT_CTD_v2022,Hawaii Ocean Time-series (HOT),http://hahana.soest.hawaii.edu/hot/hot-dogs/,"âThe majority of our sampling effort, approx...",''Data obtained via the Hawaii Ocean Time-seri...,749,18785,1.0,"ALOHA, Angel White Lab, Chloropigment, CTD, CT...",NaN
2,nit,tblHOT_CTD_v2022,Nitrate (NO3),Âµmol/kg,Observation,Bottle,Reprocessed,Biogeochemistry,Irregular,Irregular,...,HOT_CTD_v2022,Hawaii Ocean Time-series (HOT),http://hahana.soest.hawaii.edu/hot/hot-dogs/,"âThe majority of our sampling effort, approx...",''Data obtained via the Hawaii Ocean Time-seri...,749,18786,1.0,"ALOHA, Angel White Lab, Bottle, CTD, CTD Hydro...",NaN
3,oxy,tblHOT_CTD_v2022,Oxygen,Âµmol/kg,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,HOT_CTD_v2022,Hawaii Ocean Time-series (HOT),http://hahana.soest.hawaii.edu/hot/hot-dogs/,"âThe majority of our sampling effort, approx...",''Data obtained via the Hawaii Ocean Time-seri...,749,18783,1.0,"ALOHA, Angel White Lab, CTD, CTD Hydrography H...",NaN
4,press,tblHOT_CTD_v2022,Pressure,decibars,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,HOT_CTD_v2022,Hawaii Ocean Time-series (HOT),http://hahana.soest.hawaii.edu/hot/hot-dogs/,"âThe majority of our sampling effort, approx...",''Data obtained via the Hawaii Ocean Time-seri...,749,18778,1.0,"ALOHA, Angel White Lab, CTD, CTD Hydrography H...",NaN
5,sal,tblHOT_CTD_v2022,Salinity,PSS-78,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,HOT_CTD_v2022,Hawaii Ocean Time-series (HOT),http://hahana.soest.hawaii.edu/hot/hot-dogs/,"âThe majority of our sampling effort, approx...",''Data obtained via the Hawaii Ocean Time-seri...,749,18782,1.0,"ALOHA, Angel White Lab, CTD, CTD Hydrography H...",NaN
6,sigma,tblHOT_CTD_v2022,Potential Density,kg/m3,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,HOT_CTD_v2022,Hawaii Ocean Time-series (HOT),http://hahana.soest.hawaii.edu/hot/hot-dogs/,"âThe majority of our sampling effort, approx...",''Data obtained via the Hawaii Ocean Time-seri...,749,18780,1.0,"ALOHA, Angel White Lab, CTD, CTD Hydrography H...",NaN
7,temp,tblHOT_CTD_v2022,Temperature,ITS-90,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,HOT_CTD_v2022,Hawaii Ocean Time-series (HOT),http://hahana.soest.hawaii.edu/hot/hot-dogs/,"âThe majority of our sampling effort, approx...",''Data obtained via the Hawaii Ocean Time-seri...,749,18781,1.0,"ALOHA, Angel White Lab, CTD, CTD Hydrography H...",NaN
8,theta,tblHOT_CTD_v2022,Potential Temperature,ITS-90,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,HOT_CTD_v2022,Hawaii Ocean Time-series (HOT),http://hahana.soest.hawaii.edu/hot/hot-dogs/,"âThe majority of our sampling effort, approx...",''Data obtained via the Hawaii Ocean Time-seri...,749,18779,1.0,"ALOHA, Angel White Lab, CTD, CTD Hydrography H...",NaN
9,xmiss,tblHOT_CTD_v2022,Transmission,% transmission,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,HOT_CTD_v2022,Hawaii Ocean Time-series (HOT),http://hahana.soest.hawaii.edu/hot/hot-dogs/,"âThe majority of our sampling effort, approx...",''Data obtained via the Hawaii Ocean Time-seri...,749,18784,1.0,"ALOHA, Angel White Lab, CTD, CTD Hydrography H...",NaN

## Export

---

In [8]:
raw_data.to_csv("../../1_raw/hot_ctd.csv")
raw_meta.to_csv("../../1_raw/hot_ctd_meta.csv")