In [8]:
import pycmap
import json

In [9]:
with open("../../../../.secrets") as f:
    secrets = json.load(f)
    cmap_token = secrets["simonscmap"]
cmap_api = pycmap.API(token=cmap_token)

## Dataset

---

In [10]:
raw_data = cmap_api.get_dataset("tblHOT_PP_v2022")

/Users/ash/Documents/Workspaces/PhD/seapopym-data/.venv/lib/python3.12/site-packages/pycmap/rest.py:334: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(df['JSON_stats'][0])
/Users/ash/Documents/Workspaces/PhD/seapopym-data/.venv/lib/python3.12/site-packages/pycmap/rest.py:335: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  rows = int(df.loc[['count'], 'lat'])

In [11]:
raw_data

,time,lat,lon,depth,cruise,stime,etime,itype,chl,phaeo,l12,d12,bsal,pbact,hbact,sbact,ebact
0,1988-10-31T00:00:00,22.75,-158,24,HOT001,NaN,NaN,0,0.129,0.077,12.21,NaN,NaN,NaN,NaN,NaN,NaN
1,1988-10-31T00:00:00,22.75,-158,42,HOT001,NaN,NaN,0,0.192,0.051,2.47,0.07,NaN,NaN,NaN,NaN,NaN
2,1988-10-31T00:00:00,22.75,-158,68,HOT001,NaN,NaN,0,0.285,0.303,2.58,0.06,NaN,NaN,NaN,NaN,NaN
3,1988-10-31T00:00:00,22.75,-158,114,HOT001,NaN,NaN,0,0.326,0.044,0.72,0.16,NaN,NaN,NaN,NaN,NaN
4,1988-12-02T00:00:00,22.75,-158,0,HOT002,NaN,NaN,0,0.202,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2584,2022-09-01T00:00:00,22.75,-158,75,HOT339,443.0,1948.0,2,0.180,0.227,NaN,NaN,35.1478,200248.0,370916.0,1742.0,910.0
2585,2022-09-01T00:00:00,22.75,-158,100,HOT339,443.0,1948.0,2,0.208,0.578,NaN,NaN,35.1896,121881.0,251964.0,150.0,1067.0
2586,2022-09-01T00:00:00,22.75,-158,125,HOT339,443.0,1948.0,2,0.130,0.418,NaN,NaN,35.1410,24478.0,200659.0,7.0,790.0
2587,2022-09-01T00:00:00,22.75,-158,150,HOT339,443.0,1948.0,2,0.076,0.310,NaN,NaN,35.0502,13892.0,161622.0,10.0,409.0
2588,2022-09-01T00:00:00,22.75,-158,175,HOT339,443.0,1948.0,2,0.038,0.128,NaN,NaN,34.9628,4569.0,149048.0,0.0,173.0

## Metadata

---

In [12]:
raw_meta = cmap_api.get_dataset_metadata("tblHOT_PP_v2022")

In [13]:
raw_meta

,Variable,Table_Name,Long_Name,Unit,Make,Sensor,Process_Level,Study_Domain,Temporal_Resolution,Spatial_Resolution,...,Dataset_Short_Name,Data_Source,Distributor,Dataset_Description,Acknowledgement,Dataset_ID,ID,Visualize,Keywords,Refrences
0,bsal,tblHOT_PP_v2022,Salinity,PSS-78,Observation,Salinometer,Reprocessed,Biology+Biogeochemistry,Irregular,Irregular,...,HOT_PP_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,This dataset consists of measurements of photo...,''Data obtained via the Hawaii Ocean Time-seri...,750,18795,1.0,"ALOHA, Angel White Lab, biology, bsal, ''Data ...",NaN
1,chl,tblHOT_PP_v2022,Chlorophyll a,mg/m3,Observation,fluorometer,Reprocessed,Biology+Biogeochemistry,Irregular,Irregular,...,HOT_PP_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,This dataset consists of measurements of photo...,''Data obtained via the Hawaii Ocean Time-seri...,750,18791,1.0,"ALOHA, Angel White Lab, biology, chl, Chloroph...",NaN
2,cruise,tblHOT_PP_v2022,Cruise Name,NaN,Observation,Uncategorized,Reprocessed,Biology+Biogeochemistry,Irregular,Irregular,...,HOT_PP_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,This dataset consists of measurements of photo...,''Data obtained via the Hawaii Ocean Time-seri...,750,18787,NaN,"ALOHA, Angel White Lab, biology, cruise, Cruis...",NaN
3,d12,tblHOT_PP_v2022,Dark 12,mg C/m3,Observation,Liquid Scintillation Counter,Reprocessed,Biology+Biogeochemistry,Irregular,Irregular,...,HOT_PP_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,This dataset consists of measurements of photo...,''Data obtained via the Hawaii Ocean Time-seri...,750,18794,1.0,"ALOHA, Angel White Lab, biology, d12, Dark 12,...",NaN
4,ebact,tblHOT_PP_v2022,picoEukaryotes,#/ml,Observation,Flow Cytometer,Reprocessed,Biology+Biogeochemistry,Irregular,Irregular,...,HOT_PP_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,This dataset consists of measurements of photo...,''Data obtained via the Hawaii Ocean Time-seri...,750,18799,1.0,"ALOHA, Angel White Lab, biology, ''Data obtain...",NaN
5,etime,tblHOT_PP_v2022,End Time,hhmm,Observation,Uncategorized,Reprocessed,Biology+Biogeochemistry,Irregular,Irregular,...,HOT_PP_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,This dataset consists of measurements of photo...,''Data obtained via the Hawaii Ocean Time-seri...,750,18789,NaN,"ALOHA, Angel White Lab, biology, ''Data obtain...",NaN
6,hbact,tblHOT_PP_v2022,Heterotrophic Bacteria,#/ml,Observation,Flow Cytometer,Reprocessed,Biology+Biogeochemistry,Irregular,Irregular,...,HOT_PP_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,This dataset consists of measurements of photo...,''Data obtained via the Hawaii Ocean Time-seri...,750,18797,1.0,"ALOHA, Angel White Lab, biology, ''Data obtain...",NaN
7,itype,tblHOT_PP_v2022,Sampling and Incubation Method,NaN,Observation,Uncategorized,Reprocessed,Biology+Biogeochemistry,Irregular,Irregular,...,HOT_PP_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,This dataset consists of measurements of photo...,''Data obtained via the Hawaii Ocean Time-seri...,750,18790,NaN,"ALOHA, Angel White Lab, biology, ''Data obtain...",NaN
8,l12,tblHOT_PP_v2022,Light 12,mg C/m3,Observation,Liquid Scintillation Counter,Reprocessed,Biology+Biogeochemistry,Irregular,Irregular,...,HOT_PP_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,This dataset consists of measurements of photo...,''Data obtained via the Hawaii Ocean Time-seri...,750,18793,1.0,"ALOHA, Angel White Lab, biology, ''Data obtain...",NaN
9,pbact,tblHOT_PP_v2022,Prochlorococcus,#/ml,Observation,Flow Cytometer,Reprocessed,Biology+Biogeochemistry,Irregular,Irregular,...,HOT_PP_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,This dataset consists of measurements of photo...,''Data obtained via the Hawaii Ocean Time-seri...,750,18796,1.0,"ALOHA, Angel White Lab, biology, ''Data obtain...",NaN
10,phaeo,tblHOT_PP_v2022,Pheopigments,mg/m3,Observation,fluorometer,Reprocessed,Biology+Biogeochemistry,Irregular,Irregular,...,HOT_PP_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,This dataset consists of measurements of photo...,''Data obtained via the Hawaii Ocean Time-seri...,750,18792,1.0,"ALOHA, Angel White Lab, biology, ''Data obtain...",NaN
11,sbact,tblHOT_PP_v2022,Synechococcus,#/ml,Observation,Flow Cytometer,Reprocessed,Biology+Biogeochemistry,Irregular,Irregular,...,HOT_PP_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,This dataset consists of measurements of photo...,''Data obtained via the Hawaii Ocean Time-seri...,750,18798,1.0,"ALOHA, Angel White Lab, biology, ''Data obtain...",NaN
12,stime,tblHOT_PP_v2022,Start Time,hhmm,Observation,Uncategorized,Reprocessed,Biology+Biogeochemistry,Irregular,Irregular,...,HOT_PP_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,This dataset consists of measurements of photo...,''Data obtained via the Hawaii Ocean Time-seri...,750,18788,NaN,"ALOHA, Angel White Lab, biology, ''Data obtain...",NaN

## Export

---

In [14]:
raw_data.to_csv("../../1_raw/hot_primary_production.csv")
raw_meta.to_csv("../../1_raw/hot_primary_production_meta.csv")