In [1]:
import pycmap
import json

In [2]:
with open("../../../../.secrets") as f:
    secrets = json.load(f)
    cmap_token = secrets["simonscmap"]
cmap_api = pycmap.API(token=cmap_token)

## Dataset

---

In [3]:
raw_data = cmap_api.get_dataset("tblHOT_Macrozooplankton_v2022")

/Users/ash/Documents/Workspaces/PhD/seapopym-data/.venv/lib/python3.12/site-packages/pycmap/rest.py:334: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(df['JSON_stats'][0])
/Users/ash/Documents/Workspaces/PhD/seapopym-data/.venv/lib/python3.12/site-packages/pycmap/rest.py:335: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  rows = int(df.loc[['count'], 'lat'])

In [4]:
raw_data

,time,lat,lon,depth,cruise,frac,tow,vol,svol,wwt,dwt,carb,nit,abnd
0,1994-02-17T11:08:00,22.75,-158,181,HOT052,0,8,726,NaN,0.2642,0.0132,3.95,1.09,24.0
1,1994-02-17T11:08:00,22.75,-158,181,HOT052,1,8,726,NaN,0.4170,0.0417,14.05,3.26,221.0
2,1994-02-17T11:08:00,22.75,-158,181,HOT052,2,8,726,NaN,0.2302,0.0230,8.89,2.19,240.0
3,1994-02-17T11:08:00,22.75,-158,181,HOT052,3,8,726,NaN,0.3738,0.0374,14.21,3.24,2331.0
4,1994-02-17T11:08:00,22.75,-158,181,HOT052,4,8,726,NaN,0.2749,0.0302,11.81,2.66,5595.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9343,2022-09-02T22:13:00,22.75,-158,241,HOT339,1,1640,135,NaN,2.9467,0.4162,135.35,34.69,NaN
9344,2022-09-02T22:13:00,22.75,-158,241,HOT339,2,1640,135,NaN,2.1526,0.3467,118.38,30.20,NaN
9345,2022-09-02T22:13:00,22.75,-158,241,HOT339,3,1640,135,NaN,2.5806,0.4098,143.47,35.31,NaN
9346,2022-09-02T22:13:00,22.75,-158,241,HOT339,4,1640,135,NaN,1.8745,0.3151,116.69,27.91,NaN
9347,2022-09-02T22:13:00,22.75,-158,241,HOT339,5,1640,135,NaN,10.0454,1.5448,530.69,132.11,NaN

## Metadata

---

In [5]:
raw_meta = cmap_api.get_dataset_metadata("tblHOT_Macrozooplankton_v2022")

In [6]:
raw_meta

,Variable,Table_Name,Long_Name,Unit,Make,Sensor,Process_Level,Study_Domain,Temporal_Resolution,Spatial_Resolution,...,Dataset_Short_Name,Data_Source,Distributor,Dataset_Description,Acknowledgement,Dataset_ID,ID,Visualize,Keywords,Refrences
0,abnd,tblHOT_Macrozooplankton_v2022,Abundance,#/m2,Observation,Zooplankton Net,Reprocessed,Biology,Irregular,Irregular,...,HOT_Macrozooplankton_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,Ã¢Â€ÂœLarge zooplankton and micronekton play impo...,''Data obtained via the Hawaii Ocean Time-seri...,758,18835,1.0,"abnd, Abundance, ALOHA, Angel White Lab, ''Dat...",NaN
1,carb,tblHOT_Macrozooplankton_v2022,Carbon,mg/m2,Observation,Elemental Analyzer,Reprocessed,Biology,Irregular,Irregular,...,HOT_Macrozooplankton_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,Ã¢Â€ÂœLarge zooplankton and micronekton play impo...,''Data obtained via the Hawaii Ocean Time-seri...,758,18833,1.0,"ALOHA, Angel White Lab, carb, Carbon, ''Data o...",NaN
2,cruise,tblHOT_Macrozooplankton_v2022,Cruise Name,NaN,Observation,Uncategorized,Reprocessed,Biology,Irregular,Irregular,...,HOT_Macrozooplankton_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,Ã¢Â€ÂœLarge zooplankton and micronekton play impo...,''Data obtained via the Hawaii Ocean Time-seri...,758,18826,NaN,"ALOHA, Angel White Lab, cruise, Cruise Name, '...",NaN
3,dwt,tblHOT_Macrozooplankton_v2022,Dry Weight,g/m2,Observation,Zooplankton Net,Reprocessed,Biology,Irregular,Irregular,...,HOT_Macrozooplankton_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,Ã¢Â€ÂœLarge zooplankton and micronekton play impo...,''Data obtained via the Hawaii Ocean Time-seri...,758,18832,1.0,"ALOHA, Angel White Lab, ''Data obtained via th...",NaN
4,frac,tblHOT_Macrozooplankton_v2022,Fraction Number,NaN,Observation,Zooplankton Net,Reprocessed,Biology,Irregular,Irregular,...,HOT_Macrozooplankton_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,Ã¢Â€ÂœLarge zooplankton and micronekton play impo...,''Data obtained via the Hawaii Ocean Time-seri...,758,18827,NaN,"ALOHA, Angel White Lab, ''Data obtained via th...",NaN
5,nit,tblHOT_Macrozooplankton_v2022,Nitrogen,mg/m2,Observation,Elemental Analyzer,Reprocessed,Biology,Irregular,Irregular,...,HOT_Macrozooplankton_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,Ã¢Â€ÂœLarge zooplankton and micronekton play impo...,''Data obtained via the Hawaii Ocean Time-seri...,758,18834,1.0,"ALOHA, Angel White Lab, ''Data obtained via th...",NaN
6,svol,tblHOT_Macrozooplankton_v2022,Settled Volume,ml/m3,Observation,Zooplankton Net,Reprocessed,Biology,Irregular,Irregular,...,HOT_Macrozooplankton_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,Ã¢Â€ÂœLarge zooplankton and micronekton play impo...,''Data obtained via the Hawaii Ocean Time-seri...,758,18830,1.0,"ALOHA, Angel White Lab, ''Data obtained via th...",NaN
7,tow,tblHOT_Macrozooplankton_v2022,Tow Number,NaN,Observation,Uncategorized,Reprocessed,Biology,Irregular,Irregular,...,HOT_Macrozooplankton_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,Ã¢Â€ÂœLarge zooplankton and micronekton play impo...,''Data obtained via the Hawaii Ocean Time-seri...,758,18828,NaN,"ALOHA, Angel White Lab, ''Data obtained via th...",NaN
8,vol,tblHOT_Macrozooplankton_v2022,Volume,m3,Observation,Zooplankton Net,Reprocessed,Biology,Irregular,Irregular,...,HOT_Macrozooplankton_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,Ã¢Â€ÂœLarge zooplankton and micronekton play impo...,''Data obtained via the Hawaii Ocean Time-seri...,758,18829,1.0,"ALOHA, Angel White Lab, ''Data obtained via th...",NaN
9,wwt,tblHOT_Macrozooplankton_v2022,Wet Weight,g/m2,Observation,Zooplankton Net,Reprocessed,Biology,Irregular,Irregular,...,HOT_Macrozooplankton_v2022,Hawaii Ocean Time-series (HOT),Hawaii Ocean Time-series http://hahana.soest.h...,Ã¢Â€ÂœLarge zooplankton and micronekton play impo...,''Data obtained via the Hawaii Ocean Time-seri...,758,18831,1.0,"ALOHA, Angel White Lab, ''Data obtained via th...",NaN

## Export

---

In [8]:
raw_data.to_csv("../../1_raw/hot_zooplankton.csv")
raw_meta.to_csv("../../1_raw/hot_zooplankton_meta.csv")